/*------------------------------------*\
              ¡GENERAL
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: green dashed 1px;
}

html{
  height: 100%;
}

/*The main body of the Webpage*/
body{
  background-color: #e5ffff;
  width: auto;
  font-family: sans-serif;
  height: 100%;
  width: auto;
}

/*Main header of the Webpage*/
h1{
  text-align: center;
  font-size: 45px;
  color: black;
}

.backgroundImage{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: .45;
}

.backgroundImage img{
  width: 100%;
  height: auto;
}

/*------------------------------------*\
              Navbar
\*------------------------------------*/

/*unordered list for navbar's position*/
#navbar ul{
  left: 50%;      /*Centers*/
  margin-left: -400px; /*Centers*/
  position: fixed; /*Keeps navbar in on top when scrolling*/
  margin-top: 17px; /*Will move the navbar up and done*/
  z-index: 100;

}

/*This is the border for the navbar*/
#navbar li{
  display: inline;
  border: 3px solid black;
  background-color: #E6E6E6;
  border-radius: 5px;
  margin: 20px;
  z-index: 100;
}

#navbar li a{
  padding: 8px;
}
/*This is the link tag for unvisted sites*/
a:link{
  color: black;
  text-decoration: none;
  z-index: 100;
}
/*Link tag for visted sites*/
a:visited{
  color: black;
  text-decoration: none;
}

/* link tag when you hover over the link*/
a:hover{
  color: green;
  text-decoration: none;
}

div.navbarbackground{
  background-color: #669900;
  position: fixed;
  width: 150%;
  height: 50px;
  left: -500;
  top: 0px;
  z-index: 90;
}

.title{
  left: 30px;
  top: -30px;
  position: fixed;
  z-index: 100;
}

.title img{
  width: 165px;
  height: auto;
}

/*color and shape of the header which is currently red*/
#header{
  position: relative;
  top: 50px;
  padding-bottom: 40px;
}

/*------------------------------------*\
           Centers Content
\*------------------------------------*/

.box-wrap {
  margin: 50px 0;
}

.squeeze {
  position: relative;
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  z-index: 100;
}

/*------------------------------------*\
                ¡BOX
\*------------------------------------*/
.box-wrap {
  margin: 50px 0;
}

.box {
  width: 32%;
  height: auto;
  float: left;
  box-shadow: 2px 2px 5px gray;
  background-color: white;
  padding: 15px;
}

.box:nth-child(n) {
  margin-bottom: 5%;
  margin-right: 2%;
}

.box:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
}

.box img {
  display: block;
  margin: 0 0 15px;
  width: 100%;
  height: 200px;
  border: solid 1px black;
}

.box-title{
  text-align: center;
}

/*------------------------------------*\
              ¡BUTTONS
\*------------------------------------*/
.btn {
  background: #FFF;
  border: solid 1px #CCC;
  height: 25px;
  text-align: center;
  width: 75px;
}

/*------------------------------------*\
              ¡HOME
\*------------------------------------*/
.intro{
  text-align: center;
  padding-top: 100px;
}

/*------------------------------------*\
            ¡DESTINATIONS
\*------------------------------------*/
.us-map img{
  position: relative;
  width: 70%;
  padding-top: 50px;
  display: block;
  margin: auto;
}

.accordion{
  width: 100%;
  height: auto;
  float: center;
  box-shadow: 2px 2px 5px gray;
  background-color: white;
  padding: 15px;
}

ui-accordion{
  background-color: white;
}

ui-accordion-header{
  background-color: white;

}

ui-accordion-content{
  background-color: white;

}

h3{
  text-align: center;
}

/*------------------------------------*\
              ¡FLEET
\*------------------------------------*/


/*------------------------------------*\
          ¡TRANSPORTATION
\*------------------------------------*/


/*------------------------------------*\
              ¡CONTACT US
\*------------------------------------*/
