/*colors:
EBDDCB
B7A784
CAAF69
745832
744C20*/


/*------------------------------------*\
              ¡GENERAL
\*------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*outline: green dashed 1px;*/
}
html {
  height: 100%;
}

/*The main body of the Webpage*/

body {
  background-color: #EBDDCB;
  width: auto;
  font-family: sans-serif;
  height: 100%;
  width: auto;
}

/*Main header of the Webpage*/

h1 {
  text-align: center;
  font-size: 45px;
  color: black;
}
.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: .35;
}
.backgroundImage img {
  width: 100%;
  height: auto;
}

#astrix{
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  display: block;
}

.desciption{
  text-align: center;
  padding: 40px 0px 40px 0px;
  font-size: 20px;
}

.contact-us{
  padding: 20px 0px 40px 0px;
  font-size: 30px;
  text-align: center;
  position: static;
  bottom: 0px;
  display: block;
}

/*------------------------------------*\
              Navbar
\*------------------------------------*/

/*unordered list for navbar's position*/

#navbar ul {
  left: 50%;
  /*Centers*/
  margin-left: -400px;
  /*Centers*/
  position: fixed;
  /*Keeps navbar in on top when scrolling*/
  margin-top: 17px;
  /*Will move the navbar up and done*/
  z-index: 140;
}

/*This is the border for the navbar*/

#navbar li {
  display: inline;
  border: 3px solid black;
  background-color: #CAAF69;
  border-radius: 5px;
  margin: 20px;
  z-index: 140;
}
#navbar li a {
  padding: 8px;
}

/*This is the link tag for unvisted sites*/

a:link {
  color: black;
  text-decoration: none;
  z-index: 100;
}

/*Link tag for visted sites*/

a:visited {
  color: black;
  text-decoration: none;
}

/* link tag when you hover over the link*/

a:hover {
  color: green;
  text-decoration: none;
}
div.navbarbackground {
  background-color: #744C20;
  position: fixed;
  width: 150%;
  height: 50px;
  left: -500;
  top: 0px;
  z-index: 130;
}
.title {
  left: 30px;
  top: -30px;
  position: fixed;
  z-index: 140;
}
.title img {
  width: 165px;
  height: auto;
}

/*color and shape of the header*/

#header {
  position: relative;
  top: 50px;
  padding-bottom: 40px;
  padding-top: 40px;
}

/*------------------------------------*\
           Centers Content
\*------------------------------------*/

.box-wrap {
  margin: 50px 0;
}
.squeeze {
  position: relative;
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  z-index: 100;
}

/*------------------------------------*\
                ¡BOX
\*------------------------------------*/

.box-wrap {
  margin: 50px 0;
  z-index: 80;
}
.box {
  width: 32%;
  height: auto;
  float: left;
  box-shadow: 2px 2px 5px gray;
  background-color: white;
  padding: 15px;
  z-index: 60;
}
.box:nth-child(n) {
  margin-bottom: 5%;
  margin-right: 2%;
  z-index: 60;
}
.box:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
  z-index: 60;
}
.box img {
  display: block;
  margin: 0 0 15px;
  width: 100%;
  height: 200px;
  border: solid 1px black;
  z-index: 60;
}
.box-title {
  text-align: center;
}

/*------------------------------------*\
              ¡BUTTONS
\*------------------------------------*/

.btn {
  background: #FFF;
  border: solid 1px #CCC;
  height: 25px;
  text-align: center;
  width: 75px;
}

/*------------------------------------*\
              ¡HOME
\*------------------------------------*/

.intro{
  text-align: center;
  padding: 40px 0 40px 0;
  font-size: 30px;
}
.homeBanner img{
  position: relative;
  width: 100%;
  padding-top: 50px;
  display: block;
  margin: auto;
  opacity: .5;
}
.homeBanner{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------------*\
            ¡DESTINATIONS
\*------------------------------------*/

.us-map img {
  position: relative;
  width: 50%;
  padding-top: 50px;
  display: block;
  margin: auto;
  padding-bottom: 20px;
}
.des p {
  text-align: center;
  font: 20px arial bold;
  padding-bottom: 20px;
}
.accordion {
  width: 100%;
  height: auto;
  float: center;
  box-shadow: 2px 2px 5px gray;
  background-color: #B7A784;
  padding: 15px;
  padding-bottom: 40px;
}
ui-accordion {

}
ui-accordion-header {
  color: #B7A784;
}
ui-accordion-content {
  color: #B7A784;
}
h3 {
  text-align: center;
}
.west ul {
  font-size: 15px;
}
.midWest ul {
  font-size: 15px;
}
.south ul {
  font-size: 15px;
}
.northEast ul {
  font-size: 15px;
}
.northEast{
  padding-bottom: 40px;
}

/*------------------------------------*\
              ¡CONTACT US
\*------------------------------------*/

.contact {
  text-align: center;
}

div.headquarters {
  text-align: left;
  float: left;
  margin-top: 50px;
}
div.services {
  align-content: left;
  float: left;
  margin-top: 300px;
  margin-left: -275px;
}
div.relations {
  text-align: left;
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}
div.cousel {
  text-align: left;
  float: right;
  margin-top: 300px;
  margin-right: -300px;
}
div.contact {
  margin-top: 5px;
  text-align: left;
  margin-left: 50px;
}
div.para {
  text-align: center;
  margin-top: 40px;
}
